.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 40px auto 0 auto;
}

.hero__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	width: 100%;
	max-width: 1440px;
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 35px;
	max-width: 531px;
}

.hero__description {
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	margin: 0;
	width: 498px;
}

.hero__button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	width: 264px;
	height: 68px;
	background: #191a23;
	border-radius: 14px;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	transition: transform 0.2s ease, background-color 0.2s ease;
}

.hero__button:hover {
	background-color: #333333;
}

.hero__illustration {
	max-width: 600px;
	width: 100%;
	overflow: hidden;
}

.hero__illustration img {
	width: 100%;
	height: auto;
}

.hero__logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto 70px auto;
	gap: 20px;
	max-width: 1200px;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.hero__logos img {
	max-height: 48px;
	width: auto;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
}

.hero__logos img:hover {
	filter: grayscale(0);
}

@media (max-width: 1024px) {
	.hero__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.hero__content {
		align-items: center;
		max-width: 100%;
	}

	.hero__description {
		width: auto;
	}

	.hero__button {
		width: fit-content;
	}

	.hero__illustration {
		margin-top: 30px;
	}

	.hero__logos {
		gap: 20px;
	}
}

@media (max-width: 768px) {
	.hero {
		flex-direction: column;
		height: auto;
		text-align: center;
	}

	.hero__container {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	.hero__content {
		align-items: center;
	}

	.hero__description {
		font-size: 18px;
		line-height: 24px;
	}

	.hero__button {
		width: 200px;
		height: 55px;
	}

	.hero__illustration {
		width: 400px;
		height: 300px;
	}

	.hero__logos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}
}

@media (max-width: 480px) {
	.hero__description {
		font-size: 14px;
	}

	.hero__button {
		width: 180px;
		height: 50px;
		font-size: 16px;
	}

	.hero__illustration {
		width: 300px;
		height: 250px;
	}

	.hero__logos {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}

	.hero__logos img {
		max-height: 40px;
		justify-self: center;
	}
}
