/* Общий контейнер секции */
.hero {
	margin: 0 auto;
	padding: 40px 0; /* Отступы вокруг секции */
	display: flex;
	flex-direction: column;
  }

.hero__container {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Две колонки */
	grid-column-gap: 30px;
	align-items: start;
	position: relative;
}
  
.hero__heading {
	grid-column: 1;
	grid-row: 1;
	margin: 0;
}
  
.hero__description {
	grid-column: 1;
	grid-row: 2;
	margin: 0;
}
  
.hero__button {
	grid-column: 1;
	grid-row: 3;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #191a23;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	width: 264px;
	height: 68px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Space Grotesk';
}
  
.hero__button:hover {
	background-color: #333333;
}
  
.hero__image {
	grid-column: 2;
	grid-row: 1 / 4; /* span 3 строки */
	max-width: 600px;
	justify-self: end; /* Прижимает картинку к правому краю колонки */
}
  
.hero__image img {
	width: 100%;
	height: auto;
	display: block;
}
.hero__logos {
	list-style: none;
	padding-top: 40px;
	padding-left: 0px;
	padding-bottom: 40px;
}

.hero__logos li img {
	max-height: 48px;
	width: auto;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
}

@media (min-width: 1200px) {
	.hero__logos {
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
		gap: 40px;
		justify-items: center;
	}

	.h1{
		font-size: 40px;
		line-height: 45px;
	}

	.p {
		font-size: 15px;
	}
}

@media (max-width: 1199px){
	.hero__logos {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 20px;    
		justify-items: center;
	}

	.h1{
		font-size: 40px;
		line-height: 45px;
	}

	.p {
		font-size: 15px;
	}
		
	.hero__image img {
		width: 100%;
		height: auto;
		display: block;
	}
}

@media (max-width: 1100px) {
	.h1{
		font-size: 38px;
		line-height: 40px;
	}

	.p {
		font-size: 13px;
	}
	.hero__button {
		font-size: 13px;
		width: 200px;
		height: 50px;
		}
}

@media (max-width: 800px) {
	.hero__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero__heading {
		order: 1;
		font-size: 1.75rem;
		text-align: center;
		margin-bottom: 20px;
	}

	.hero__image {
		order: 2;
		max-width: 80%;
		margin-bottom: 20px;
	}

	.hero__description {
		order: 3;
		text-align: center;
		max-width: 90%;
		margin-bottom: 20px;
	}

	.hero__button {
		order: 4;
	}
}

  @media (max-width: 480px) {
	.hero__logos{
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 20px;
		justify-items: center;
	}
  }
  