:root {
  --green: #B9FF66;
  --black: #191A23;
  --grey: #F3F3F3;
}

html {
  overflow-y: scroll; 
}

h1 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 77px;
  color: #000000;
}

h2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
}

h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}

h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

@media (max-width: 480px) {
  h1 {
    font-weight: 500;
    font-size: 43px;
    line-height: 55px;
  }

  h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
  }

  h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
  }

  h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
  
